.companies {
  list-style: none;
  margin: 1rem;
  padding: 1px ;
  display: flex;
  align-items: center;
  justify-content: center;
}

.companies.pagination{
  margin:1rem;
  padding: 1rem;
  color:red;
  display: flex;
align-items: center;
justify-content: center;
}

